body {
  font-family: Palatino Linotype;
}

body:before {
  filter: blur(3px);
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: hsla(360, 18%, 22%, 1);
}

.button {
  padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.5;
}

@keyframes hover {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

.button:hover {
  animation-name: hover;
  animation-duration: 1s;
  opacity: 1;
}

.bg {
  padding: 25px;
  background: hsla(360, 100%, 85%, 0.5);
}

.desc{
  font-size: 18px;
  color: hsla(34, 100%, 18%, 0.92);
}

.content {
  font-size: 20px;
  color: hsla(34, 100%, 14%, 1);
  text-align: center;
}