
table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align:center;
}

.titles {
  background-color: #D6EEDE;
}

td:first-child {
  background-color: #D6EEEE;
}

.teams {
  background-color: #D67EDE;
}